.word {
  display: flex;
}

.char {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(245, 11, 11);
}

body {
  background-color: black;
  text-align: center;
  color: red;
}
#words {
  width: 100%;
}

.word {
  justify-content: center;
}

.char {
  /* center chars */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  margin: 5px;
}
